<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Current Graph</title>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript">

    $(function () {
        
            var lola =[];
            var lolb=[];
            var lolc=[];
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange=function(){
                if(xhttp.readyState == 4 && xhttp.status ==200){
                    stat=JSON.parse(xhttp.responseText);
                    var i = 1;
                    lola=stat.cprac;
                    lolb=stat.cth;
                    lolc=stat.percent;
  $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'current consumption throughtout the print'
        },
        xAxis: {
            categories:lolc,
            text: 'Percent'

        },
        yAxis: {
            title: {
                text: 'CURRENT (A)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Practical',
            data: lola
        }, {
            name: 'theoritical',
            data: lolb
        }]
    });

                }
            };
             xhttp.open("GET","/chartdata",true);
             xhttp.send();


      });
</script>
</head>

<body>
    <div id="container" style="max-width: 400px; height: 400px; margin: 0 auto"></div>
</body>
</html>
