<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="language" content="english">
<meta http-equiv="Content-Style-Type" content="text/css">
<title>ESPsens</title>
<script>
    function DocLoad(){
        getstatus();
    }

function getstatus(){
  var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
      stat=JSON.parse(xhttp.responseText);
       document.getElementById("server").innerHTML ="Server :"+stat.server;
       document.getElementById("port").innerHTML ="Port :"+stat.ports;
       }
    };
   xhttp.open("GET", "/json", true);
  xhttp.send();

}

</script>
</head>
<body onload="DocLoad()">
	<p id="server"></p>
	<p id="port"></p>
</body>
</html>
