<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Report </title>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript">

    $(function () {
        
            var lola =[];
            var lolb=[];
            var lolc=[];
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange=function(){
                if(xhttp.readyState == 4 && xhttp.status ==200){
                    stat=JSON.parse(xhttp.responseText);
                    var i = 1;
                    lola=stat.cprac;
                    lolb=stat.cth;
                    lolc=stat.percent;
  $('#container1').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'current consumption throughtout the print'
        },
        xAxis: {
            categories:lolc,
            text: 'Percent'

        },
        yAxis: {
            title: {
                text: 'CURRENT (A)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'Practical',
            data: lola
        }, {
            name: 'theoritical',
            data: lolb
        }]
    });

                }
            };
             xhttp.open("GET","/chartdata",true);
             xhttp.send();


      });

   $(function () {
        
            var lola =[];
            var lolb=[];
            var lolc=[];
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange=function(){
                if(xhttp.readyState == 4 && xhttp.status ==200){
                    stat=JSON.parse(xhttp.responseText);
                    var i = 1;
                    lola=stat.pfprac;
                    lolb=stat.pfth;
                    lolc=stat.percent;
  $('#container2').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Power factor throughtout the print'
        },
        xAxis: {
            categories:lolc,
            text: 'Percent'

        },
        yAxis: {
            title: {
                text: 'POWER FACTOR'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'Practical',
            data: lola
        }, {
            name: 'theoritical',
            data: lolb
        }]
    });

                }
            };
             xhttp.open("GET","/chartdata",true);
             xhttp.send();


      });

  $(function () {
        
            var lola =[];
            var lolb=[];
            var lolc=[];
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange=function(){
                if(xhttp.readyState == 4 && xhttp.status ==200){
                    stat=JSON.parse(xhttp.responseText);
                    var i = 1;
                    lola=stat.pprac;
                    lolb=stat.pth;
                    lolc=stat.percent;
  $('#container3').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Power consumption throughtout the print'
        },
        xAxis: {
            categories:lolc,
            text: 'Percent'

        },
        yAxis: {
            title: {
                text: 'POWER (W)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'Practical',
            data: lola
        }, {
            name: 'theoritical',
            data: lolb
        }]
    });

                }
            };
             xhttp.open("GET","/chartdata",true);
             xhttp.send();


      });

 $(function () {
        
            var lola =[];
            var lolb=[];
            var lolc=[];
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange=function(){
                if(xhttp.readyState == 4 && xhttp.status ==200){
                    stat=JSON.parse(xhttp.responseText);
                    var i = 1;
                    lola=stat.etempprac;
                    lolb=stat.etempth;
                    lolc=stat.percent;
  $('#container4').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Extruder Temperature throughtout the print'
        },
        xAxis: {
            categories:lolc,
            text: 'Percent'

        },
        yAxis: {
            title: {
                text: 'EXTRUDER TEMPERATURE (°C)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'Practical',
            data: lola
        }, {
            name: 'theoritical',
            data: lolb
        }]
    });

                }
            };
             xhttp.open("GET","/chartdata",true);
             xhttp.send();


      });

$(function () {
        
            var lola =[];
            var lolb=[];
            var lolc=[];
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange=function(){
                if(xhttp.readyState == 4 && xhttp.status ==200){
                    stat=JSON.parse(xhttp.responseText);
                    var i = 1;
                    lola=stat.vprac;
                    lolb=stat.vth;
                    lolc=stat.percent;
  $('#container5').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Voltage throughtout the print'
        },
        xAxis: {
            categories:lolc,
            text: 'Percent'

        },
        yAxis: {
            title: {
                text: 'VOLTAGE (V)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'Practical',
            data: lola
        }, {
            name: 'theoritical',
            data: lolb
        }]
    });

                }
            };
             xhttp.open("GET","/chartdata",true);
             xhttp.send();


      });

 $(function () {
        
            var lola =[];
            var lolb=[];
            var lolc=[];
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange=function(){
                if(xhttp.readyState == 4 && xhttp.status ==200){
                    stat=JSON.parse(xhttp.responseText);
                    var i = 1;
                    lola=stat.btempprac;
                    lolb=stat.btempth;
                    lolc=stat.percent;
  $('#container6').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Bed Temperature throughtout the print'
        },
        xAxis: {
            categories:lolc,
            text: 'Percent'

        },
        yAxis: {
            title: {
                text: 'BED TEMPERATURE (°C)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'Practical',
            data: lola
        }, {
            name: 'theoritical',
            data: lolb
        }]
    });

                }
            };
             xhttp.open("GET","/chartdata",true);
             xhttp.send();


      });
</script>
</head>

<body>
    <div id="container1" style="max-width: 400px; height: 400px; position:absolute;margin-left:25px"></div>
    <div id="container2" style="max-width: 400px; height: 400px; position:absolute;margin-left:600px; "></div>
    <div id="container3" style="max-width: 400px; height: 400px; position:absolute;margin-top:500px; margin-left: 25px"></div>
    <div id="container4" style="max-width: 400px; height: 400px; position:absolute;margin-top:500px; margin-left: 600px"></div>
    <div id="container5" style="max-width: 400px; height: 400px; position:absolute;margin-left: 25px; margin-top:1000px"></div>
    <div id="container6" style="max-width: 400px; height: 400px; position:absolute;margin-left: 600px; margin-top:1000px"></div>
</body>
</html>
